@import "bootstrap-sprockets";
@import "bootstrap";

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 70%;
  margin-bottom: 50px;
}

input {
  height: auto !important;
}
