// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";

html, body{
  margin:0;
  padding:0;
}

/* top */

h1 {
  font-family: cursive;
  font-size:140px;
  padding-top:140px;
  margin-top:0px;
  opacity:0.9;
}

h2 {
  padding-top:40px;
  font-size:40px;
  opacity:0.9;
}

p {
  width:1460px;
  margin:0 auto;
  font-size:20px;
  opacity:0.9;
}

.header-top {
  padding-bottom: 120px;
  color:white;
  background-image:url(top.jpg);
  background-size: 100% 100%;
  text-align:center;
}

.btn {
  font-size: 20px;
  display: inline-block;
  padding: 10px 20px;
  border-radius: 10px;
  box-shadow: 0 5px #000000;
}

.btn:active{
  box-shadow: none;
  position: relative;
  top: 5px;
}

.btn-danger {
  margin-top: 40px;
  background: rgba(255, 0, 0, 0.8);
}

.btn-danger:hover{
  background:red;
}

.btn-success {
  margin-top: 30px;
  background: rgba(0, 128, 0, 0.7);
}

.btn-success:hover{
  background:green;
}

 
/* home */

.fallback {
  display: none;
}

.header-home {
  height:60px;
  background:#00FFFF;
  position: fixed;
  top: 0;
  z-index: 5;
  width: 100%;
}

.header-home-dami{
  height: 60px;
}

.header-home-logo{
  float:left;
  font-weight: bold;
  font-family: cursive;
  margin: 15px 40px 15px 40px;
  font-size: 20px;
}

.header-home-logo:hover{
  background-color:#00FFFF;
}

li {
  list-style:none;
  float:left;
  padding:23px 33px;
}

.header-home-list:hover{
  background-color:#00FFFF;
}

.alert{
  text-align: center;
  width: 200px;
  border-radius: 30px;
  line-height: 30px;
}


/* login_form */

.login_form-logo {
  font-family: cursive;
  margin-top: 60px;
  margin-bottom: 40px;
  text-align: center;
  font-size: 60px;
  letter-spacing: 5px;
}

.form-body{
  height:300px;
  background-color: #e6e6fa;
  text-align:center;
  margin: 0 auto;
  width: 500px;
  border-radius: 40px;
  
  .input{
    margin-top: 30px;
  }
  
  .login_btn{
    margin-top: 20px;
    width: 200px;
    background: rgba(0, 128, 0, 0.7);
    color: white;
    padding: 10px;
    border-radius: 40px;
    box-shadow: 0 5px #000000;
  }
}

.login_btn:active{
    box-shadow: none;
    position: relative;
    top: 5px;
 }
 
.link_new{
  font-size: 15px;
  border-bottom: 1px solid black;
}

a:hover{
  background-color: #e6e6fa;
  text-decoration: none;
}


/* new */

.signup_logo{
  margin-top: 60px;
  margin-bottom: 40px;
  text-align: center;
  font-size: 60px;
  letter-spacing: 5px;
}

.row{
  margin: 0 auto;
  text-align: center;
  width: 500px;
  height:300px;
  background-color: #e6e6fa;
  border-radius: 40px;

  .field{
    margin: 25px 20px 0 0;
  }
  
    .btn-primary{
      width: 200px;
      background-color: #ff4500;
    }
}

.btn-primary:active{
    box-shadow: none;
    position: relative;
    top: 5px;
}

.field_with_errors{
  margin: 0 auto;
  width: 70%;
  padding: 0;
  
    input{
      width: 336px;
      border: 1px solid red;
    }
}



/* address */

.address_index{
  margin: 0 auto;
  float: left;
  height: 500px;
  overflow: auto;
  margin-left: 50px;
}

.address{
  width: 480px;
  height: 50px;
  font-size: 30px;
}

.new_address_path{
  display: block;
  background-color: #f8f8ff;
  width: 480px;
  font-size: 50px;
  margin-top: 10px;
  border: #000 dashed 1px;
  text-align :center;
  margin-left: 50px;
}

.address_show{
  float: right;
  margin-right: 20px;
  width: 60%;
  height: 500px;
  padding-left: 250px;
}

.address_edit_logo{
  text-align: center;
  margin-top: 40px;
  margin-bottom: 20px;
  font-size: 60px;
}

.address_edit_body{
  height:400px;
  background-color: #e6e6fa;
  margin: 0 auto;
  width: 700px;
  border-radius: 40px;
}

.field{
  margin-left: 160px;
}

.address_action{
  text-align: center;

  .address_edit_btn{
    background-color: #4169e1;
    width: 200px;
    font-size: 20px;
    padding: 10px;
    color: white;
    border-radius: 40px;
    box-shadow: 0 5px #000000;
  }
}

.address_edit_btn:active{
  box-shadow: none;
  position: relative;
  top: 5px;
}


/* content */

.content_detail{
  width: 70%;
  margin: 0 auto;
  margin-top: 50px;
}

.content_thumbnail{
  float: right;
  height: 300px;
  margin-right: 50px;
  border: #000 ridge 2px;
  padding-top: 15px;
  margin-bottom: 10px;
}

.content_description{
  float: left;
  height: 300px;
  margin-left: 50px;
  border: #000 ridge 2px;
  width: 52.6%;
  margin-bottom: 10px;
  padding: 15px 15px 0 15px;
  
  .content_title_index{
    border-bottom: #000 solid 1px;
    font-weight: bold;
    font-size: 20px;
  }
  
  .content_btn_show{
    background-color: #ff7f7f;
    color: black;
    font-size: 15px;
    display: inline-block;
    padding: 5px 20px;
    border-radius: 10px;
    box-shadow: 0 3px #000000;
    margin-right: 15px;
  }
  
  .content_btn_edit{
    background-color: #7fff7f;
    color: black;
    font-size: 15px;
    display: inline-block;
    padding: 5px 20px;
    border-radius: 10px;
    box-shadow: 0 3px #000000;
    margin-right: 15px;
  }
  
  .content_btn_destroy{
    background-color: #7f7fff;
    color: black;
    font-size: 15px;
    display: inline-block;
    padding: 5px 20px;
    border-radius: 10px;
    box-shadow: 0 3px #000000;
  }
}

.content_btn:active{
  box-shadow: none;
  position: relative;
  top: 3px;
}

.content_title_show{
  font-size: 30px;
  margin: 30px 50px 0 50px;
  font-weight: bolder;
  border-bottom: double;
}
  
.content_show{
  height: 100%;
  margin: 40px 50px 0 50px;
  
  .content_show_detail{
    float: left;
    width: 40%;
  }
  
  .content_show_image{
    float: right;
  }
  
  .content_text{
    width: 700px;
    word-break: break-all;
    border: solid 1px;
    padding: 8px;
  }
}

  .content_btn_edit{
    background-color: #7fff7f;
    color: black;
    font-size: 15px;
    display: inline-block;
    padding: 5px 20px;
    border-radius: 10px;
    box-shadow: 0 3px #000000;
    margin-right: 15px;
  }
  